.mapcontainer {
    width: 1000px;
    height: 500px;
    margin: auto;
}

.main {
    position: relative;
}

.sousmain {
    position: absolute; /* Utilisez la position absolue pour positionner l'icône par rapport à la div parente */
    top: 0%; /* Placez l'icône en haut */
    right: 5%; /* Placez l'icône à droite */
    // transform: translate(50%, -50%); /* Pour centrer verticalement et horizontalement l'icône */
}

.divmain {
    background-color: #e48152;
    width: 62%;
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 5px;
}

.categorie {
    display: flex;
    margin-left: 10%;
}

.p {
    margin-right: 0.5%;
    margin-left: 0.5%;
}
.divCategorie {
    margin-left: 19%;
    margin-right: 19%;
}
.coloredText {
    /* Style par défaut */
    color: blue;
}

.red {
    color: red;
}

.green {
    color: green;
}

.h1 {
    color: rgb(36, 32, 32);
}

.ptaille {
    color: rgb(36, 32, 32);
}

.pblanc {
    color: white;
}
