.mainTitle {
    text-align: center;
}

.main {
    width: auto;
    // background-color: rgb(161, 228, 137);
    background-color: #e48152;
}

.mainflex {
    display: flex;
    justify-content: space-evenly;
}

.mainflex li {
    display: block;
    margin: 0;
    padding: 0.2rem;
    text-align: center;
    color: white;
}

.item {
    text-decoration: none;
}

.text {
    text-align: center;
    color: white;
}

.rightCol h2 {
    text-align: center;
}

.a {
    color: white;
}
