.main {
    width: 200px;
    height: 100%;
    border-radius: 5px;
    padding: 10px;
    border: 5px solid rgb(161, 228, 137);
}

.sousmain {
    position: relative;
}

.h1 {
    text-transform: capitalize;
    text-align: center;
}

.icon {
    position: absolute;
    top: 0;
    right: 5%;
    transform: translate(50%, -50%);
}
