.modal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

.mainmodal {
    margin: auto;
    margin-right: 8%;
    margin-left: 8%;
    margin-bottom: 3%;
}

.button {
    display: flex;
    border: 0px;
    background-color: white;
    width: 50%;
    margin: auto;
}

.h1 {
    color: rgb(36, 32, 32);
    text-shadow: 1px 1px #474646;
    font-size: 3em;
}

.div1 {
    margin-right: 2%;
}

.div2 {
    margin-left: 2%;
}

.modal {
    display: flex;
}
