.col {
    min-width: 120px;
    margin: 0.5rem;
    margin-right: 20rem;
    margin-left: 20rem;
    padding: 2rem;
    text-align: center;
    background-color: #e48152;
    color: white;
    text-decoration: none;
    border-radius: 15px;
}

.table {
    display: flex;
    color: white;
}

.button {
    min-width: 120px;
    margin: 0.5rem;
    margin-right: 20rem;
    margin-left: 20rem;
    padding: 2rem;
    text-align: center;
    background-color: #e48152;
    color: black;
    text-decoration: none;
    border-radius: 15px;
    display: flex;
    justify-content: center;
}

.liMenu {
    list-style-type: none;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    color: white;
    margin-left: 5%;
    margin-right: 10%;
}

.divmap {
    list-style-type: none;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
}
.h2 {
    color: white;
}

.qrcode {
    border-radius: 5px;
}

.h1 {
    color: rgb(36, 32, 32);
    // color: #0f6819;
    // text-shadow: 1px 1px #44a045;
    font-size: 2em;
}

.box {
    display: flex;
    margin-left: 9%;
}

.title {
    color: rgb(36, 32, 32);
    text-shadow: 1px 1px #474646;
    // color: #0f6819;
    // text-shadow: 1px 1px #44a045;
    font-size: 2.7em;
}

.icon {
    background-color: #e48152;
}
